/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.signup-container {
  display: flex;
  width: 900px;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Left Section */
.signup-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bank-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.form-title {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Form */
form label {
  font-size: 0.9em;
  margin: 10px 0 5px;
  display: block;
}

form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #363534;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
  font-size: 1em;
}

form input:focus {
  border-color: #ff8533;
  box-shadow: 0 0 5px rgba(255,106,0,0.3);
}

.btn-signup {
  width: 100%;
  padding: 12px;
  border: none;
  background: #ff6a00;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-signup:hover {
  background: #e65c00;
}

/* Right Section */
.signup-right {
  flex: 1;
  background: linear-gradient(to bottom right, #ff6a00, #ffcc70);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-right img {
  width: 80%;
  max-width: 350px;
}
